# .gitignore
.env
.env.local
.env*.local

# Next.js
node_modules
/.next/
/out/
/build
/coverage
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.pem
npm-debug.log*
.vercel

# 로컬 개발용 SQLite 파일 (Turso 실 연동 전까지 임시로 사용)
local.db
local.db-*

# 단순 메모
기타참고.md